.header-container {
  background-color: #f5f5f5;
  color: #111;
  text-align: center;
  padding: 6rem 2rem 2rem;
}

.header-container h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header-container p {
  font-size: 1.2rem;
  color: #555;
}
